
.flexColCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lightBlue{
    background-color:#00677F ;
    color: white;
}
.darkBlue{
    background-color: #01426A ;
    color: white;
}

.container{
    border-radius: 25px;
}


.hidden{
    display: none ;
}

table {
    background-color: white!important;
    color: black!important;
}